In [22]:
mystring="hello"

In [23]:
mystring.capitalize()

'Hello'

In [24]:
mystring.isdigit()

False

In [25]:
import numpy as np
import pandas as pd

In [26]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [29]:
names1 = pd.Series(['andrew','bobo','claire','david','another _name'])

In [32]:
names1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

In [33]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [34]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [35]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [36]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [37]:
tickets=pd.Series(tech_finance)

In [38]:
tickets

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [41]:
tickets.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [42]:
tickets

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [43]:
tickets.str.split(",",expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [44]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [45]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [46]:
messy_names.str.replace(";","")

0      andrew
1          bobo
2      claire
dtype: object

In [47]:
messy_names.str.replace(";","").str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [49]:
messy_names.str.replace(";","").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [58]:
def clean_names(name):
    name=name.replace(";","")
    name=name.strip()
    name=name.capitalize()
    return name

In [59]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [60]:
messy_names.apply(clean_names)

0    Andrew
1      Bobo
2    Claire
dtype: object